
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
        <session-factory>

            <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
            <property name="connection.url">JDBC:mysql://root:127.0.0.1:3306/EseCuEle</property>
            <property name="connection.username">root</property>
            <property name="connection.password">Guernica1603</property>
            <!-- 
            ? Propriedda removida ?
            
            !<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

            -->
            <property name="hibernate.show_sql">true</property> 
            <property name="hibernate.hbm2ddl.auto">update</property>



            <!-- ? Clases a mapear ? --> Aca pon las rutas de TODAS las clases a mapear (Que serán entidades)
            <mapping class="org.davshaw.Model.pureentities.Usuario"/>
            <mapping class="org.davshaw.Model.pureentities.Cuenta"/>
            <mapping class="org.davshaw.Model.derivatedentities.RegistroGrupo"/>
            <mapping class="org.davshaw.Model.pureentities.Grupo"/>
            <mapping class="org.davshaw.Model.derivatedentities.PrestamoGrupo"/>
            <mapping class="org.davshaw.Model.derivatedentities.RetiroCuenta"/>
            <mapping class="org.davshaw.Model.derivatedentities.DepositoCuenta"/>

        </session-factory>
</hibernate-configuration>