
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
        <session-factory>

            <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
            <property name="connection.url">JDBC:mysql://root:127.0.0.1:3306/EseCuEle</property>
            <property name="connection.username">root</property>
            <property name="connection.password">Guernica1603</property>
            <!-- 
            ? Propriedda removida ?
            
            !<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

            -->
            <property name="hibernate.show_sql">true</property> 
            <property name="hibernate.hbm2ddl.auto">update</property>


            <mapping class="com.leomatias.CuentaAhorros"/>
            <mapping class="com.leomatias.GrupoDeAhorro"/>
            <mapping class="com.leomatias.Prestamo"/>
            <mapping class="com.leomatias.Transaccion"/>
            <mapping class="com.leomatias.UdemBank"/>
            <mapping class="com.leomatias.Usuario"/>

        </session-factory>
</hibernate-configuration>
